<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header><img src="/img/logo.jpg" width="50" alt="Meadowlark Travel Logo"></header>
        {{{body}}}
    </body>
</html>